.products {
    margin-bottom: 100px;
}
.products-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.products-wrapper .text {
    margin-bottom: 80px;
}
.products-wrapper .line {
    height: 2px;
    width: 130px;
    margin: 0 auto;
    background-color: var(--details-color);
}
.products-wrapper .text h2 {
    margin-bottom: 30px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color: #595959;
    font-weight: 600;
}
.products-wrapper .text p {
    max-width: 500px;
    text-align: center;
    margin-bottom: 30px;
    font-family: sans-serif;
    color: #737373;
    font-size: 15px;
    line-height: 21px;
}
.products-wrapper .menu {
    width: 900px;
    margin-bottom: 65px;
}
.products-wrapper .menu ul {
    display: flex;
    list-style: none;
    font-family: sans-serif;
    font-size: 16px;
    color: #727272;
    justify-content: space-around;

}
.products-wrapper .menu ul a{
    text-decoration: none;
    color: #727272;
    font-family: sans-serif;
    font-size: 16px;
    list-style: none;
}
.products-wrapper .menu ul a:hover {
    color: var(--details-color);
}
.images img {
    width: 290px;
    height: 290px;
}
.products-wrapper .images {
    display: flex;
    flex-wrap: wrap;
}
.products-wrapper .images img {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}