.team {
    margin-bottom: 100px;
}
.team.team-wrapper {
    display: flex;
}
.team-header {
    margin-bottom: 70px;
}
.team .team-wrapper .team-header h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: #595959;
    font-weight: 600;
    margin-bottom: 40px;
}
.team .team-wrapper .team-header p {
    max-width: 450px;
    font-family: sans-serif;
    color: #737373;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 30px;
    padding-left: 15px;
}
.team .team-wrapper .team-header .short-line {
    height: 2px;
    width: 130px;
    background-color: var(--details-color);
    margin-left: 15px;
    
}
.team .team-wrapper .team-photo {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}
.team .team-wrapper .team-photo .left-side {
    width: 30%
}
.left-side img {
    width: 100%;
}
.team .team-wrapper .team-photo .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 70px;
    width: 70%;
}
.team .team-wrapper .team-photo .right-side h3 {
    color: #727272;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.team .team-wrapper .team-photo .right-side p {
    max-width: 620px;
    font-family: sans-serif;
    color: #737373;
    font-size: 15px;
    line-height: 21px;
    
}
.team .team-wrapper .team-photo .right-side ul {
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    font-family: cursive;
    font-style: italic;
}
.team .team-wrapper .team-photo .right-side ul a {
    text-decoration: none;
    color: #727272;
}
.team .team-wrapper .team-photo .right-side .photo-box {
    display: flex;
    width: 100%;
}
.team .team-wrapper .team-photo .right-side .wrapper {
    position: relative;
    width: 25%;
}
.team .team-wrapper .team-photo .right-side .wrapper:not(:last-child) {
    margin-right: 20px;
}
.team .team-wrapper .team-photo .right-side .wrapper:hover .label {
    opacity: 1;
}
.team .team-wrapper .team-photo .right-side .wrapper .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: #4d4d4d;
    color: white;
}
.team .team-wrapper .team-photo .right-side .photo {
    width: 100%;
}